---
import About from "@/icons/About.astro";
import Chat from "@/icons/Chat.astro";
import Home from "@/icons/Home.astro";
import Projects from "@/icons/Projects.astro";
---

<script>
  const boxLink = document.querySelector("#box-item") as HTMLDivElement;
  const links = document.querySelectorAll(
    ".link",
  ) as NodeListOf<HTMLAnchorElement>;

  const navContainer = document.querySelector("nav") as HTMLElement;
  const { top: navTop } = navContainer.getBoundingClientRect();

  const hashedElement = window.location.hash;

  const moveBox = (element: HTMLAnchorElement) => {
    const { top, width, height } = element.getBoundingClientRect();

    boxLink.style.setProperty("--top", top - navTop + 16 + "px");
    boxLink.style.setProperty("--width", width + "px");
    boxLink.style.setProperty("--height", height + "px");

    links.forEach((link) => {
      link.classList.remove("drop-shadow-title");
      link.classList.remove("text-accent");
    });
    element.classList.add("drop-shadow-title");
    element.classList.add("text-accent");
  };

  const changeBoxPosition = (hash: string) => {
    const targetElement = document.querySelector(
      `#link-${hash?.length ? hash.substring(1) : "home"}`,
    ) as HTMLAnchorElement;
    moveBox(targetElement);
  };

  changeBoxPosition(hashedElement);

  window.addEventListener("hashchange", function () {
    const hashedElement = window.location.hash;
    changeBoxPosition(hashedElement);
  });
</script>

<header
  class="hidden md:block fixed right-8 top-1/2 px-1 py-4 -translate-y-1/2 border border-neutral rounded-md bg-transparent z-50"
>
  <!-- <Navigation /> -->
  <nav class="flex flex-col items-center gap-3 w-fit">
    <a class="link" id="link-home" href="#">
      <Home class="size-6" />
    </a>
    <a class="link" id="link-projects" href="#projects">
      <Projects class="size-6" />
    </a>
    <a class="link" id="link-about" href="#about">
      <About class="size-6" />
    </a>
    <a class="link" id="link-contact" href="#contact">
      <Chat class="size-6" />
    </a>

    <div
      id="box-item"
      class="absolute rounded-md bg-neutral/40 mx-auto top-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-500 ease-in-out -z-10"
    >
    </div>
  </nav>
</header>

<style>
  .link {
    @apply flex items-start justify-center p-2 hover:text-accent duration-300 ease-in-out;
  }

  #box-item::before {
    box-shadow:
      0 0 10px theme(colors.accent),
      0 0 20px theme(colors.accent),
      0 0 40px theme(colors.accent),
      0 0 80px theme(colors.neutral),
      0 0 120px theme(colors.accent),
      0 0 150px theme(colors.accent);

    @apply content-[''] absolute bottom-1 w-2/3 h-0.5 bg-accent rounded-xl left-1/2 -translate-x-1/2;
  }
</style>
