---
import profile from "/public/profile.avif";
---

<div class="size-80 roundedfull flex items-center justify-center relative">
  <svg
    class="size-80 animate-float"
    fill="transparent"
    viewBox="0 0 350 350"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="175"
      cy="175"
      r="160"
      stroke="#f2f2f2"
      stroke-width="4"
      class="animate-stroke-dash"
      stroke-linecap="round"
      stroke-linejoin="round"></circle>
  </svg>

  <img
    src={profile.src}
    class="w-88 h-88 rounded-b-full object-contain absolute bottom-4 left-0 z-50 profile animate-float"
    alt=""
  />
</div>

<style>
  circle {
    filter: drop-shadow(0px 0px 4px theme(colors.base));
  }
  .profile {
    mask-image: linear-gradient(black 70%, transparent);
  }
</style>
