---
const { item, title, description, MainImage } = Astro.props;
---

<article
  class="w-96 h-56 flex flex-col justify-end items-center gap-3 sm:gap-6 p-4 relative bg-darkBlue duration-300 rounded-md bg-cover bg-no-repeat bg-center"
>
  <div
    class="absolute -top-10 left-1/2 -translate-x-1/2 p-2 rounded-md border-2 border-neutral bg-darkBlue rotate-45"
  >
    <MainImage
      class="text-base size-14 sm:size-16 -rotate-45 drop-shadow-text"
    />
  </div>
  <header class="w-full">
    <h4 class="text-start group-hoverdrop-shadow-title duration-300">
      {title}
    </h4>
  </header>

  <p class="text-base/80">
    {description}
  </p>
</article>

<style>
  article {
    background-image: url("/bg.svg");
  }
</style>
