---
// Supports weights 400-800
import "@fontsource-variable/syne";
import logo from "public/logo.avif";
import SocialLinkButton from "@/components/SocialLinkButton.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-base max-w-screen-2xl mx-auto">
		<img
			src={logo.src}
			class="fixed top-4 right-6 size-16 z-50"
			alt="personal logo"
		/>
		<div class="fixed bottom-4 right-8 z-50">
			<SocialLinkButton />
		</div>
		<slot />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		html {
			@apply scroll-smooth;
		}
		body::-webkit-scrollbar {
			display: none;
		}
		section {
			@apply px-2 md:px-28 py-10;
		}
		h1 {
			@apply text-7xl font-bold tracking-tight;
		}
		h2 {
			@apply text-6xl font-bold;
		}
		h3 {
			@apply text-4xl font-bold;
		}
		h4 {
			@apply text-2xl font-bold;
		}
		h5 {
			@apply text-xl font-bold;
		}
	}

	@layer components {
		.button {
			@apply bg-gradient-to-br from-accent to-accent/60 w-fit flex items-center gap-2.5 px-4 py-3 font-medium rounded-md active:scale-90 duration-300 hover:shadow-[0_0_15px_#ff660066];
		}
	}
</style>
